@{
   
}

<h1>Add Cheese:</h1>

<form method="post">
    Name: <input name="name" type="text" />
    Description: <input name="description" type="text" />
    <input type="submit", value="Add Cheese" />
</form>